[submodule "external/busybox"]
	path = external/busybox
	url = git://busybox.net/busybox.git
	ignore = dirty
[submodule "external/libsuperuser"]
	path = external/libsuperuser
	url = https://github.com/Chainfire/libsuperuser.git
	ignore = dirty
[submodule "external/gnupg"]
	path = external/gnupg
	url = git://git.gnupg.org/gnupg.git
	branch = STABLE-BRANCH-1-4
	ignore = dirty
