<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.lildebi"
    android:versionCode="5400"
    android:versionName="0.5.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="jackpal.androidterm.permission.RUN_SCRIPT"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:name="LilDebiApplication"
        android:description="@string/app_description"
        android:label="@string/app_name" >
        <activity
            android:name="LilDebi"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="InstallActivity"
                  android:launchMode="singleTask" />
        <activity android:name="SelectRelease" />
        <activity android:name="SelectMirror" />
        <activity android:name="SelectArch" />
        <activity android:name="UnsupportedDeviceActivity" />
        <activity android:name="PreferencesActivity" />
        <activity android:name="InstallLogViewActivity" />

        <service android:name="InstallService" />

        <receiver android:name="MediaMountedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <receiver android:name="MediaUnmountedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <receiver android:name="MediaEjectReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.MEDIA_SHARED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <receiver android:name="BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

    </application>

</manifest>